#body-div {
  height: 100%;
  width: 100%;
  background: #eeeeee;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
  background: none;
}

.dna-base {
  stroke: #000000;
  stroke-width: 0.5px;
}

.dna-base-selected {
  fill: #ffffff;
  mix-blend-mode: difference;
  stroke-width: 2px;
  stroke: #ff0000;
}

.dna-text {
  fill: #ffffff;
  mix-blend-mode: difference;
}

.dna-backbone {
  stroke: #666666;
}

.dna-pair {
  stroke: #6688bb;
}

.sequence-form {
  font-size: 14px;
  padding: 10px;
  width: 80%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sequence-form-div {
  border-style: groove;
}

.sequence-form-div:hover {
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.hidden {
  display: none;
}

.higlight-sequence-text {
  background-color: #bb5533;
}

.settings-view {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ffffff;
}

.settings-color-div {
  float: left;
  text-align: center;
  padding: 5px;
}

.settings-color-button {
  width: 35px;
  height: 40px;
}

.settings-font-div {
  position: relative;
  float: left;
  text-align: left;
  margin-top: 40px;
}

.settings-appearance-div {
  text-align: left;
  margin-top: 40px;
  width: 100px;
}
