#body-div {
  height: 100%;
  width: 100%;
  background: #d3d3d3;
}

.svg-cursor-none {
}

.svg-cursor-dragging {
  cursor: -webkit-grab;
}

.svg-cursor-pan {
  cursor: url('/res/pan_image.png'), auto;
}

.svg-cursor-rotate {
  cursor: url('/res/rotate_image.png'), auto;
}

.svg-class text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.svg-class text::selection {
  background: none;
}

.dna-base {
  stroke: #000000;
  stroke-width: 0.5px;
  cursor: -webkit-grab;
}

.dna-base-preview {
  stroke-width: 0px;
  r: 3px;
}

.dna-base-selected {
  stroke-width: 3px;
  stroke: #ff0000;
}

.dna-base-moving {
  fill: #ffffff;
  stroke-width: 3px;
  stroke: #ff0000;
}

.dna-base-dragged-node {
  cursor: -webkit-grabbing;
}

.dna-base-banned-pairing {
  cursor: not-allowed;
}

.dna-text {
  fill: #ffffff;
  mix-blend-mode: difference;
  cursor: inherit;
  pointer-events: none;
}

.dna-backbone {
  stroke: #666666;
}

.dna-pair {
  stroke: #8b572a;
}

.sequence-form-wrapper-div {
  background: #c0c0c0;
}

.sequence-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.1vw;
  padding: 10px;
  width: 100%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sequence-form-div {
  border-style: groove;
}

.sequence-form-div:hover {
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.sequence-has-error {
  background-color: #ff0000;
}

.sequence-change-button {
  width: 100%;
  height: 128px;
  cursor: pointer;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.higlight-sequence-text {
  background-color: #bb5533;
}

.settings-view {
  background: #d3d3d3;
  width: 225px;
}

.settings-color-wrap-div {
}

.settings-color-div {
  float: left;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.settings-color-button {
  width: 40px;
  height: 40px;
}

.settings-font-div {
  text-align: left;
  padding-left: 10px;
}

.settings-appearance-div {
  text-align: left;
  width: 100px;
  padding-left: 10px;
}

.share-link-button {
  padding-left: 5px;
}
.share-link-hidden {
  display: none;
}
