#body-div {
  height: 100%;
  width: 100%;
  background: #dddddd;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
  background: none;
}

.dna-base {
  stroke: #000000;
  stroke-width: 0.5px;
  cursor: -webkit-grab;
}

.dna-base-selected {
  fill: #ffffff;
  stroke-width: 3px;
  stroke: #ff0000;
}

.dna-base-moving {
  fill: #ffffff;
  stroke-width: 3px;
  stroke: #ff0000;
}

.dna-base-dragged-node {
  cursor: -webkit-grabbing;
}

.dna-base-banned-pairing {
  cursor: not-allowed;
}

.dna-text {
  fill: #ffffff;
  mix-blend-mode: difference;
  cursor: inherit;
  pointer-events: none;
}

.dna-backbone {
  stroke: #666666;
}

.dna-pair {
  stroke: #8b572a;
}

.sequence-form {
  font-size: 14px;
  padding: 10px;
  width: 80%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.sequence-form-div {
  border-style: groove;
}

.sequence-form-div:hover {
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.sequence-has-error {
  background-color: #ff0000
}

.apply-changes-hidden {
  display: none;
}

.hidden {
  display: none;
}

.higlight-sequence-text {
  background-color: #bb5533;
}

.settings-view {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #dddddd;
}

.settings-color-div {
  float: left;
  text-align: center;
  padding: 5px;
}

.settings-color-button {
  width: 35px;
  height: 40px;
}

.settings-font-div {
  position: relative;
  float: right;
  text-align: left;
}

.settings-appearance-div {
  text-align: left;
  margin-top: 40px;
  width: 100px;
}

.share-links-button {
  position: relative;
  float: left;
}

.share-link-box {
}

.share-link-box-hidden {
  display: none;
}

.slider-zoom {
  position:relative;
  float: left;
  width: 100px;
  height: 24px;
  border: 1px solid grey;
}

.slider-zoom .handle {
  background-color: black;
  color: white;
  cursor: pointer;
  width: 5px;
  height: 22px;
}

.slider-zoom .handle.active {
  background-color: grey;
}

.slider-zoom .bar {
  top: 9px;
  height: 4px;
}

.slider-zoom .bar.bar-0 {
  background: #ffffff;
}

.slider-zoom .bar.bar-1 {
  background: #ffffff;
}


.angle-input {
  position:relative;
  float: left;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 1px solid grey;
  cursor: pointer;
  outline: none;
}

.angle-input:focus {
  border: 1px solid #00aaff;
  cursor: pointer;
}

.angle-input-pivot {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
}

.angle-input .angle-input-pivot::before {
  content: '';
  position: absolute;
  right: 1px;
  top: 50%;
  width: 6px;
  margin-top: -2px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff0000;
  border: 1px solid #cccccc;
}

.angle-input:focus .angle-input-pivot::before {
  border: 1px solid #00aaff;
}
